{% extends "layout.njk" %}

{% block head%}
<title>Sobre -Marcelo Bião</title>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <img src="https://avatars2.githubusercontent.com/u/8891971?s=400&u=9520c563dd96d2e295889ed5eaeb8326190c44e5&v=4" alt="Marcelo Bião">
    <h1>Marcelo Bião</h1>
    <h2>Programador - Conexa</h2>
    <p>Programador full-stack sobre as linguagens: javascript, php, java e sql.
      Colaborador <a href="https://conexa.app/" target="_blank">Conexa</a></p>
  </div>

  <div id="links-footer" class="links">
    <a href="https://github.com/marcelobiao" target="_blank">Github</a>
    <a href="/" target="_blank">Discord</a>
    <a href="/" target="_blank">Linkedin</a>
  </div>
  
{% endblock %}